<!DOCTYPE html>

{% extends "basic_app/base.html" %}
{% load staticfiles %}

    {% block body_block %}

    <div class="jumbotron">
    <h1>Create your acocunt</h1>
    </div>
    <div>
    
        {% if registered %}
        <h2>Thank you for registering!</h2>
        {% else %}
        
            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" name="" value="Register">

            </form>

        {% endif %}
    
    </div>
    
    {% endblock %}
